{% extends 'root.html' %}

{% block head%}
{% endblock %}

{% block body%}
<div>
    <h2>Contact List</h2>
    <table>
        <tr>
            <th>Fname</th>
            <th>Lname</th>
            <th>Email</th>
            <th>Message</th>
            <th>Date Added</th>
        </tr>
        {% for x in entries %}
        <tr>
            <td>{{ x.fname }}</td>
            <td>{{ x.lname}}</td>
            <td>{{ x.email}}</td>
            <td>{{ x.date_added}}</td>
            <td>
                <a href="">Edit</a>
                <a href="">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}